td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

svg {
  height: 120px;
}

.map {
  height: 150px;
  width: 200px;
}